<!-- <ul>
    <li *ngFor="let ledger of tableData; let index = index">
        <b>User {{index}} : </b> {{ ledger.ledger.user }}
        <br/>
        <br/>
        <ul>
            <li *ngFor="let item of ledger.ledger.items; let i = index">
                    <b>name: </b>{{item.itemName}} <br/>
                    <b>Ledger Type</b> {{item.ledgerType}} <br/>
                    <b>amount: </b> {{item.amount}} <br/>
                   <Label>---------------------------------------------------------------------------</Label>
            </li>
        </ul>
        <br/>
        <br/>
    </li>
</ul> -->


<div>
     <span *ngIf="tableData.length == 0"> No Data</span>
    <table *ngIf="tableData.length > 0">
        <thead>
            <tr>
                <td *ngFor="let header of headers"> {{header}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableData ; let i = index">
                <td *ngFor="let item of tableData[i]">{{item}}</td>
            </tr>
        </tbody>
    </table>
</div>